<html>
<head>
    <title>Template Query Test</title>
    <link href="/public/style.css" type="text/css" rel="stylesheet"></link>
</head>
<body>
<h1>ID: <%= id %></h1>
<h2>Query String: <%= noot %></h2>
</body>
</html>
