<html>
<head>
    <title>Template Test</title>
    <link href="public/style.css" type="text/css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<h1>Hello there!</h1>
<form method="POST" action="/id">
    First name: <input type="text" id="firstname" name="firstname"><br>
    Last name: <input type="text" id="lastname" name="lastname"><br>
    <input type="submit" value="Submit">
</form>
<script>
    $.ajax({
        type: 'POST',
        url: '/id-person',
        data: JSON.stringify({firstname:'Ape',lastname:'Kop'}),
        dataType: 'json',
        contentType: 'application/json'
    })
</script>
</body>
</html>
