<html>
<head>
    <title>Template Test</title>
    <link href="/public/style.css" type="text/css" rel="stylesheet"></link>
</head>
<body>
<h1>Person: <%= firstname %> <%= lastname.length %></h1>
</body>
</html>
